<footer class="main-footer">
    <p>Datica Health, Inc. 2017</p>
    <nav>
        <a href="//datica.com">Datica Home</a>
        <a href="//github.com/daticahealth">Github</a>
        <a href="//twitter.com/daticahealth">@daticahealth</a>
    </nav>
</footer>
