<footer class="main-footer">
    <p>Catalyze, Inc. 2016</p>
    <nav>
        <a href="//twitter.com/catalyzeIO">@catalyzeIO</a>
        <a href="//github.com/catalyzeio">Github</a>
        <a href="//catalyze.io">Catalyze.io</a>
    </nav>
</footer>
