<header class="main-header">
    <div class="logo">
        <a href="/"><img src="/assets/img/logo.png"></a>
        <span class="eng-blog">engineering</span>
    </div>
    <nav>
        <a href="//catalyze.io">Catalyze Home</a>
        <a href="/archives">Archives</a>
        <a href="//catalyze.io/jobs">We're Hiring</a>
        <a href="//catalyzeio.github.io">Open Source</a>
        <a href="//catalyze.io/signup" class="cta" target="_blank">Free Consultation</a>
    </nav>
    <a id="menu">menu</a>
</header>
<div class="search">
    <div class="grid">
        <input type="text" class="eng-blog-search" placeholder="Search">
    </div>
</div>
