<header class="main-header">
    <div class="logo">
        <a href="/" class="logo"></a>
    </div>
    <input type="text" class="eng-blog-search" placeholder="Search the blog by keyword...">
    <nav>
        <a href="//datica.com">Datica Home</a>
        <a href="//catalyze.io/jobs">Careers</a>
        <a href="//catalyze.io/signup" class="cta" target="_blank">Free Consultation</a>
    </nav>
    <a id="menu">menu</a>
</header>
