<header class="main-header">
    <div class="logo">
        <a href="/" class="logo"></a>
    </div>
    <input type="text" class="eng-blog-search" placeholder="Search the blog by keyword...">
    <nav>
        <a href="//datica.com">Datica Home</a>
        <a href="//datica.com/careers">Careers</a>
        <a href="//datica.com/contact" class="cta" target="_blank">Contact us</a>
    </nav>
    <a id="menu">menu</a>
</header>
