<div class="main-left">
	<header class="main-header">
		<div class="logo"><img src="/assets/img/logo.png"></div>
		<div class="tag"><img src="/assets/img/tag.png"></div>
	</header>
	<div class="intro">
		<p>
			Welcome to the Catalyze Engineering Blog. We help scale, manage and secure infrastructure and cloud services for healthcare software. We're building the premier HIPAA compliant platform as a service. Here we talk about everything from improving user experience to developer operations and security practices.
		</p>
	</div>
	<div class="popular-posts">
		<h1><i class="fa fa-eye"></i> Some of our more popular posts</h1>
		<ul>
			<li><a href="#">Something super popular and stuffs</a></li>
			<li><a href="#">Something super popular and stuffs</a></li>
			<li><a href="#">Something super popular and stuffs</a></li>
			<li><a href="#">Something super popular and stuffs</a></li>
		</ul>
	</div>
	<nav>
		<a href="/archives">Archives</a>
		<a href="//catalyze.io/jobs">We're Hiring</a>
		<a href="//catalyzeio.github.io">Open Source</a>
		<a href="//catalyze.io/about">Catalyze</a>
	</nav>
</div>