@media all and (max-width: 780px){
    .grid{
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    [class*='col-']{
        width: auto;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .main-header{
        nav{
            display: none;
            position: absolute;
            top: 75px;
            padding: 0 20px;
            width: 100%;
            left: 0px;
            right: 0px;
            z-index: 999;
            background-color: $color_deep-alt;
            a{
                display: block;
                padding: 20px 0;
                margin: 0px;
                color: $color_white;
                border-bottom: 1px solid $color_deep;
                &:last-of-type{border:0;}
            }
        }
        // Show the menu button
        #menu{display: block;}
    }
}
