@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic');

// Backup fonts
$f_backup: -apple-system, 'Helvetica Neue', 'Helvetica', sans-serif;

$fw_xlight: 200;
$fw_light: 300;
$fw_reg: 400;
$fw_semi: 600;
$fw_bold: 700;
$fw_ultra: 900;


// Main font
$f_sans: 'Source Sans Pro', $f_backup;
$f_sans-mono: monospace;

body{
    font-family: $f_sans;
    font-size: 14px;
    a{text-decoration: none;}
}
