.main-header{
    padding: 30px;
    // We need this because the menu button is absolute
    position: relative;
    @extend .cf;
    #menu{
        display: none;
        position: absolute;
        right: 30px;
        top: 36px;
        background-color: $color_deep-alt;
        color: $color_white;
        font-weight: $font-weight-bold;
        text-align: center;
        padding: 10px;
        @include border-radius(8px);
    }
    .logo{
        float: left;
        background: url('../img/datica-logo.svg');
        display: block;
        width: 120px;
        height: 48px;
        background-size: 120px 48px;
    }
    nav{
        float: right;
        margin: 17px 0 0 0;
        a{
            display: inline-block;
            margin: 0 0 0 10px;
        }
        .cta{
            font-weight: $font-weight-bold;
        }
    }
    .eng-blog-search{
        margin: 5px 0 0 20px;
        width: 220px;
        display: block;
        float: left;
        padding: 10px;
        border: 1px solid $color_border;
        background-color: $color_white;
        font-family: $font_sans;
        font-size: 14px;
        @include border-radius(8px);
    }
}
