.main-header{
    padding: 1rem 2rem;
    background-color: $color_deep-alt;
    // We need this because the menu button is absolute
    position: relative;
    @extend .cf;
    #menu{
        display: none;
        position: absolute;
        right: 30px;
        top: 36px;
        background-color: $color_deep-alt;
        color: $color_white;
        font-weight: $font-weight-bold;
        text-align: center;
        padding: 10px;
        @include border-radius(8px);
    }
    .logo{
        float: left;
        background: url('../img/datica-logo.svg');
        display: block;
        width: 120px;
        height: 48px;
        background-size: 120px 48px;
    }
    nav{
        float: right;
        margin: 15px 0 0 0;
        a{
            display: inline-block;
            margin: 0 0 0 1rem;
            font-size: 14px;
            color: $color_white;
        }
    }
    .eng-blog-search{
        margin: 5px 0 0 20px;
        width: 220px;
        display: block;
        float: left;
        padding: 10px;
        border: 0px;
        background-color: lighten($color_deep-alt, 8%);
        font-family: $font_sans;
        font-size: 14px;
        color: $color_talk-alt;
        @include border-radius(8px);
    }
    @media all and (max-width: 530px){
        .logo{
            position: absolute;
        }
        .eng-blog-search{
            width: 100%;
            margin: 70px 0 0 0;
        }
    }
}
::-webkit-input-placeholder{color: rgba(255,255,255,0.5);}
::-moz-placeholder{color: rgba(255,255,255,0.5);}
:-ms-input-placeholder{color: rgba(255,255,255,0.5);}
:-moz-placeholder{color: rgba(255,255,255,0.5);}
