.page-title{
    font-size: 32px;
    font-weight: $font-weight-xlight;
    color: $color_deep;
    text-align: center;
    margin: 0 0 100px 0;
}
a{
    color: $color_prime-alt;
    @include easing(200ms);
    &:hover{
        @include easing(200ms);
        color: $color_deep-alt;
    }
}
.content{padding: 20px 30px;}

// Summary is styled slightly differently than other markdown content
.read-more{
    font-weight: $font-weight-bold;
}
.summary{
    ul,li,h1,h2,h3,h4,h5,p{
        line-height: 1.5;
        color: $color_talk;
        padding: 0 0 10px 0px;
    }
}
.post{
    &--featured{;
        position: relative;
        .profile-picture{
            display: block;
            width: 100px;
            height: 100px;
            border: 2px solid $color_border;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: -50px;
            @include border-radius(50px);
        }
        // Main title
        h1.title{
            margin: 55px 0 10px 0;
            font-size: 28px;
            font-weight: $font-weight-light;
            text-align: center;
            color: $color_deep-alt;
            a{
                color: $color_deep-alt;
                @include easing(200ms);
                &:hover{
                    @include easing(200ms);
                    color: $color_prime-alt;
                }
            }
        }
        ul{
            text-align: center;
            margin: 0 0 20px 0;
            li{
                text-align: center;
                display: inline-block;
                padding: 0 8px;
                color: $color_talk-alt;
                font-style: italic;
            }
        }
    }
    &--listing{
        background-color: $color_white;
        border: 1px solid $color_border;
        position: relative;
        margin: 0 0 50px 0;
        img{max-width: 100%;width: 100%;height: auto;}
        h1.title{
            margin: 0 0 10px 0;
            font-size: 28px;
            font-weight: $font-weight-light;
            color: $color_deep-alt;
            a{
                color: $color_deep-alt;
                @include easing(200ms);
                &:hover{
                    @include easing(200ms);
                    color: $color_prime-alt;
                }
            }
        }
        ul{
            margin: 0 0 20px 0;
            li{
                display: inline-block;
                padding: 0 10px 0 0;
                color: $color_talk-alt;
                font-style: italic;
            }
        }
    }
}

// Section styles
section{padding: 65px 30px;}
.section{
    &--gray{
        background-color: $color_light-alt;
    }
}

// Fully stylized markdown goes inside of this class
$margin-bottom: 1rem;
.full-post{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    color: $color_talk;
    word-wrap: break-word;
    p,ul,img,h1,h2,h3,h4{margin-bottom: $margin-bottom;}
    a{
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
        color: $color_prime-alt;
        &:active,
        &:hover{outline-width: 0;}
    }
    strong{
        font-weight: $font-weight-bold;
    }
    p{
        img{
            margin-top: $margin-bottom;
        }
    }
    img{
        border-style: none;
        width: 100%;
    }
    table{
      border-spacing: 0;
      border-collapse: collapse;
      border: 1px solid $color_border;
      width: 100%;
      margin-bottom: $margin-bottom;
      th{
          font-weight: bold;
          background-color: $color_light-alt;
          color: $color_deep-alt;
      }
      td,th{
          text-align: left;
          padding: 10px;
          border: 1px solid $color_border;
        }
    }
    h1{
        font-size: 28px;
        font-weight: $font-weight-light;
    }
    h2{
      font-size: 23px;
      font-weight: $font-weight-bold;
    }
    h3{
      font-size: 19px;
      font-weight: $font-weight-mid;
    }
    h4{
        font-size: 16px;
      font-weight: $font-weight-mid;
    }
    blockquote{
        margin: 0;
        font-style: italic;
        color: $color_talk-alt;
        padding: 0 0 0 10px;
        border-left: 2px solid $color_border;
    }
    ul{
        text-align: left;
        list-style-type: disc;
        color: $color_talk;
        margin-bottom: $margin-bottom;
        font-style: normal;
        li{
            list-style-type: disc;
            text-align: left;
            display: block;
            margin: 0 0 10px 0;
            margin-bottom: $margin-bottom;
            font-style: normal;
            padding: 0 0 10px 0;
            border-bottom: 1px solid $color_border;
            &:last-of-type{margin: 0;border: 0;}
        }
    }
}
.button-more{
    display: inline-block;
    padding: 15px;
    color: $color_white;
    background-image: linear-gradient(-180deg, #4783FF 0%, #0A46C1 100%);
    box-shadow: inset 0 1px 2px 0 rgba(170,198,255,0.50), inset 0 -1px 2px 0 rgba(2,9,22,0.22);
    @include border-radius(8px);
}
