.main-posts{
	margin-left: 30%;
	padding: 30px;
	header{
		@extend .cf;
		margin: 0px 0px 20px 0px;
	}
	.post{
		border-bottom: 1px dotted #ddd;
		margin-bottom: 20px;
		img{max-width: 100%;padding: 0px 0px 20px 0px;display: block;}
		h1.title{
			a{
				font-size: 35px;
				font-family: $f_sans-mono;
				color: $c_brand;
				line-height: 1.5;
				text-decoration: none;
				padding: 0px 0px 20px 0px;
				display: block;
				@include easing(350ms);
				&:hover{
					@include easing(350ms);
					color: darken($c_eng-brand, 20%);
				}
			}
		}
		p{
			padding: 0px 0px 20px 0px;
			font-family: $f_sans-reg;
			color: $c_text;
			line-height: 2;
		}
		max-width: 750px;
	}
	.meta{
		@extend .cf;
		.tags{
			float: left;
			li{
				padding: 5px 10px;
				border: 1px solid $c_brand;
				@include border-radius(5px);
				display: inline-block;
				color: $c_brand;
				margin: 0px 10px 0px 0px;
				&:last-of-type{margin: 0px 0px 0px 0px;}
			}
		}
		.date{
			color: $c_text;
			float: right;
			padding: 5px;
		}
	}
	.author{
		background-color: #f4f4f4;
		border: 1px solid #ddd;
		padding: 10px;
		margin: 20px 0px 0px 0px;
		@include border-radius(5px);
		width: 100%;
		@extend .cf;
		.prof{
			float: left;
			display: block;
			position: relative;
			width: 50%;
			img{
				padding: 0px;
				height: auto;
				max-width: 50px;
				@include border-radius(25px);
				display: block;
				width: 100%;
			}
			span.main{
				left: 60px;
				top: 20px;
				display: block;
				position: absolute;
				font-family: $f_sans-med;
				color: $c_text;
			}
		}
		span.guest{
			margin: 20px 0px 0px 0px;
			float: right;
			display: block;
			font-family: $f_sans-med;
			color: $c_text;
			span#guest-author{font-family: $f_sans-ital;}
		}
	}
}