.intro{
    background-color: darken($c_brand, 10%);
    @include border-radius(5px);
    margin: 20px;
    padding: 20px;
    font-family: $f_sans;
    color: $c_code;
    p{
        font-size: 14px;
        line-height: 2;
    }
}
.popular-posts{
    margin: 20px;
    background-color: #fff;
    border: 1px solid darken($c_brand, 10%);
    @include border-radius(5px);
    h1{
        font-family: $f_sans;
        font-weight: 600;
        color: $c_brand;
        font-size: 14px;
        background-color: #f4f4f4;
        border-bottom: 1px solid #ddd;
        padding: 15px 20px;
        @include border-radius-top(5px);
    }
    ul{
        padding: 20px;
        li{
            a{
                display: block;
                font-family: $f_sans;
                font-size: 14px;
                text-decoration: none;
                color: $c_text;
                padding: 0px 0px 10px 0px;
                margin: 0px 0px 10px 0px;
                border-bottom: 1px dotted lighten($c_text, 10%);
                @include easing(350ms);
                &:hover{
                    @include easing(350ms);
                    padding-left: 10px;
                    color: darken($c_eng-brand, 20%);
                    border-bottom: 1px dotted darken($c_eng-brand, 20%);
                }
            }
            &:last-of-type{a{border: 0px;margin: 0px;padding-bottom: 0px;}}
        }
    }
}
